body { font-family : Verdana, Arial, Helvetica, sans-serif; font-size: 11px }
td { font-family : Verdana, Arial, Helvetica, sans-serif; font-size: 11px }
th { font-family : Verdana, Arial, Helvetica, sans-serif; font-size: 12px }
.txtfld { font-family : Verdana, Arial, Helvetica, sans-serif; font-size: 11px }
		  
