
/*
Designs by IT Farm
Author: John Francis Mukulu <john.f.mukulu@gmail.com>
*/

body {
	margin: 0px;
	padding: 0;
	background: #666666;
	text-align: justify;
	font-family:  Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3D3726;
}

h1, h2, h3 {
	margin-top: 0;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 1.6em;
	font-weight: normal;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1em;
}

ul {
}

a {
	text-decoration: none;
	color: #2F2A1D;
}
a:hover {
	border-bottom: none;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin: 0 20px 0 0;
}

img.right {
	float: right;
	margin: 0 0 0 20px;
}

#header {
	width: 90%;
	margin: 0 auto;
	height: 115px;
	background: url(/intranet/modules/tasks/images/img01.jpg) no-repeat left top;
	-moz-background-size: 100%;  
	-webkit-background-size: 100%;
}

/* Header */

#logo {
	float: right;
	width: 24%;
	padding: 10px 0px 0px 30px;
}

#logo h1, #logo p {
	float: left;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #323232;
}

#logo span {
	color: #323232;
}

#logo h1 {
	margin: 0px;
	padding: 0px;
	letter-spacing: -2px;
	font-size: 36px;
}

#logo p {
	letter-spacing: -1px;
	margin: 0px;
	padding: 1px 0px 0px 2px;
	font-size: 18px;
	color: #323232;
}

#logo a {
	border: none;
	text-decoration: none;
	color: #FFFFFF;
}

/*-------------Login Session Name-------------*/
#login-session-name{
      float: right;
      top: 0;
      right: 0;
      color: #000000;
      font-size: 1em;
}
#login-session-name a{
      color: blue;
      font-weight: bold;
      text-decoration: none;
}

#login-session-name a:hover{
      text-decoration: underline;
}

/* Menu */

#menu {
	float: left;
	width: 90%;
	height: 40px;
}

#menu ul {
	float: left;
	margin: 0px 0px 0px 5px;
	padding: 61px 0px 0px 0px;
	list-style: none;
}

#menu li {
	float: left;
	display: inline;
}

#menu a {
	display: block;
	height: 30px;
	margin: 0px 1px 0px 0px;
	padding: 15px 10px 0px 10px;
	background: url(/intranet/modules/tasks/images/img03.jpg) repeat-x left top;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #323232;
	-moz-border-radius:0px 3px 0px 0px;
}

#menu a:hover {
	color: #FFFFFF;
}

#menu .current_page a {
	color: #FFFFFF;
}

/* Wrapper */

#wrapper {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

/* Submenu */

#submenu {
	width: 90%;
	margin: 0 auto;
	padding: 5px 0;
	height: 30px;
	background: url(/intranet/modules/tasks/images/img04.jpg) repeat-x left top;
}

#submenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#submenu li {
	display: inline;
}

#submenu a {
	display: block;
	float: left;
	margin: 0 3px 0 0;
	padding: 6px 15px 10px 20px;
	border-right: 1px #ffffff solid;
	text-decoration: none;
	text-transform: lowercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #404d72;
}

#submenu a:hover {
	margin: 0 3px 0 0;
	color: #000000;
}

#submenu .current_page_item a{
	margin: 0 3px 0 0;
	font-weight:bold;
	font-size:15px;
	color: #000000;
}

/* Wrapper */

#wrapper {
}

/* Page */

#page {
	width: 90%;
	margin: 0 auto;
	padding: 20px 0 0 0;
	background: #f0f0e7;
}

#page-bg {
}

/* Latest Post */

#latest-post {
	padding: 20px;
	border: 1px solid #E7E7E7;
}

/* Content */

#content {
	float: left;
	width: 60%;
}
.pointer:hover{
	color:blue;
	cursor:pointer;
}

.post {
	padding-bottom: 15px;
	line-height: 200%;
}

.post h1 {
	font-weight: normal;
}

.title {
	margin: 0;
	padding: 10px 0 0 20px;
	font-weight: normal;
}

.title a {
	border-bottom: none;
	color: #2F2A1D;
}

.title a:hover {
	border-bottom: 1px dotted #000000;
}

.byline {
	border-bottom: 2px solid #000000;
	margin: -10px 20px 20px 20px;
}

.tag {
	padding: 0 15px;
}

.entry {
	padding: 0 20px;
}

.ListBox {
	  width:100%;
	  height:200px;
	  overflow-y:auto;
	  overflow-x:auto;
	  border:0px solid black;
 }

.scrolldown {
	width: 700px;
	height:500px;
	overflow-y:auto;
	overflow-x:auto;
	border:0px solid black;
}
 
 .bold {
	font-weight: bold;
 }
  
.links {
	padding: 4px 20px;
	text-align: left;
	font-weight: bold;
	background: #f2d05f;
}

.links a {
	border: none;
}

.links a:hover {
}

/* Sidebars */

#sidebar-right {
	float: right;
}

#sidebar-left {
	float: left;
}

.sidebar {
	float: left;
	width: 20%;
	padding: 0;
	font-size: 12px;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar li {
	padding: 0 0 20px 0;
}

.sidebar li ul {
	background: #dce2f0;
}
.sidebar li ul a:hover {
	color: #ffffff;
}
.current a {
	background:#add8e6;
	color: #ffffff;
}
.sidebar li li {
	margin: 0 0px 0 0px;
	padding: 8px 0px 8px 5px;
	border-bottom: 1px #423525 solid;
}


.sidebar li h2 {
	margin: 0 0 0 0;
	padding: 10px 15px;
	background: #808080;
	font-size: 13px;
	color: #ffffff;
	-moz-border-radius:3px 0px 0px 0px;
}

.sidebar a {
	color: #000000;
}
.sidebar a:hover {
	color: #ffffff;
}

.adminHeader {
	font-weight: bold;
	background: #add8e6;
}
.important {
	font-weight: bold;
	font-size:1.1em;
}
/* Search */

#searchform {
	margin: 0;
	padding: 0 0 0 0;
}

#searchform br {
	display: none;
}

#searchform h2 {
}

#search-input {
	margin: 10px 0px 0 5px;
	padding: 2px 2px;
	height: 18px;
	border: 1px solid #423525;
	background: #000000;
	font-size: 10px;
	color: #CCCCCC;
}

#search-button {
	margin: 0 0 0 5px;
	padding: 2px 2px;
	height: 25px;
	background: #000000;
	border: 1px solid #423525;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #CCCCCC;
}
/* Calendar */

#calendar_wrap {
	padding: 0 15px;
	text-align: center;
}

#calendar_wrap table {
	width: 100%;
}

#calendar_wrap th {
}

#calendar_wrap td {
}

#calendar_wrap tfoot td {
	border: none;
}

#calendar_wrap tfoot td#prev {
	text-align: left;
	font-weight: bold;
	border: none;
}

#calendar_wrap tfoot td#prev a {
	border: none;
}

#calendar_wrap tfoot td#next {
	text-align: right;
	font-weight: bold;
	border: none;
}

#calendar_wrap tfoot td#next a {
	border: none;
}

/* Footer */

#footer-wrapper {
	width: 100%;
	height: 100px;
}

#footer {
	width: 90%;
	height: 100px;
	margin: 0 auto;
	padding: 0px;
	background: url(/intranet/modules/tasks/images/img02.jpg) repeat-x left top;
}

#footer p {
	margin: 0;
	padding: 30px 0 0 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
}

#footer a {
	color: #ffffff;
}

#footer .link {
}

#footer .copyright {
}



/* Styles from ChristCMS */
.select{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.dateTime{
	color : Black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
.caption{
	font-family : Arial, Helvetica, sans-serif;
	font-size : x-small;
	
}
.box_tb{
	border-style: double double double;
	border : thick double #A9A9A9;
	font-family : Arial, Helvetica, sans-serif;
	font-size : x-small;
}
.bodyTable{
	border: 1px solid #556d43;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}
.titleTable{
	border: 1px solid #556d43;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
}
.contentTable {
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	border: 1px solid #556d43;
}
.line{
	border-top: 1px groove #999999;
}
.sectionLabel{
	border: 1px solid #999999;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	
}
.centerLabel{
	border: 1px solid #999999;
}
.table_tr td{
	border: 1px solid #999999;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}
.table_tr2 td{
	font-size: 14px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}
.tailTable{
	border: 1px solid #556d43;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	color: #556d43;
}
.homeNav a{
	border: 1px solid #fafeb7;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	margin-bottom: 2px;
	color: #FFFFFF;
	text-decoration: none;
	width: 200px;
	display: block;
}
.homeNav a:hover{
	border: 1px solid #556d43;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	margin-bottom: 2px;
	color: #556d43;
	text-decoration: none;
	width: 200px;
	display: block;
	font-weight: bold;
	
}
.Nav a{
	border: 1px solid #fafeb7;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	margin-bottom: 2px;
	color: #FFFFFF;
	text-decoration: none;
	width: 75px;
    display: block;
	font-size: 100%;
	text-align: center;
}
.Nav a:hover{
	border: 1px solid #556d43;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	margin-bottom: 2px;
	color: #556d43;
	text-decoration: none;
	width: 75px;
	display: block;
	font-size: 100%;
	text-align: center;
	font-weight: bold;
}
.footer{
	border : none;
	font-family: arial, Helvetica, sans-serif;
	font-size: xx-small;
}
.content{
	font-family: arial, Helvetica, sans-serif;
	font-size: smaller;
}
.button{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight : bold;
	color: #aa0000;
	cursor: pointer;
	border: #555555 1px solid;
	
}
.table_hd{
	font: bold;
	font-family: arial, Helvetica, sans-serif;
	font-size: medium;
}
