/* CSS Document */
a:link, a:visited{
	color: #0000ff;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

body {
	font-family: 'trebuchet ms' helvetica sans-serif;
	font-size: 12px;
	background: #103c72 url(../images/page_bckgrd.jpg) repeat-x;
}

#smallTextTable td{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	border-bottom: 1px solid #298e43;
}

#smallText td{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.85em;
}

.lineHorizontal{
	background-image: url(../images/line.jpg);
	background-repeat: repeat-x;
	vertical-align: bottom;
	height: 10px;
}

.lineVerticle{
	background-image: url(../images/line_verticle.jpg);
	background-repeat: repeat-y;
}

.bannerImageCell{
	background-color: #e9ca74;
	height: 80px;
}

.contentImg{
	padding: 5px 5px 5px 5px;
}

.contentTxt{
	font-family: 'trebuchet ms' helvetica sans-serif;
	font-size: 12px;
	padding: 5px 0px 5px 0px;
}

.navigation{
	height: 30px;
	background-image: url(../images/navigation_bckgrd.jpg);
	background-repeat: repeat-x;
}

.navOff{
	color: #ffc526;
	font-size: 11px;
	padding-left: 2px;
	padding-right: 2px;
}

.navOff:hover{
}

.navOn{
	color: #ffc526;
	font-size: 11px;
	font-weight: bold;
	padding-left: 2px;
	padding-right: 2px;
	background-image: url(../images/nav_bckgrd_on.jpg);
	background-repeat: repeat-y;
}

.subNavOff{
}

.picture_02{
	background: url(../images/picture_02.jpg) no-repeat;
}

.picture_02news{
	background: url(../images/picture_02news.jpg) no-repeat;
	padding: 41px 0px 0px 0px;
}

.subNavOff:hover{
}

.subNavOn{
}

.topNavigation{
	height: 40px;

}

a.topNavigation:link, a.topNavigation:visited {
	color: #ffffff !important;
}

#container{
	
	margin: 0px auto 20px auto;
	background: url(../images/container_bckgrd.gif) repeat-y 10px;
}

#content{
	padding: 10px 10px 10px 10px;
}

#footer{
	padding: 10px 20px 10px 10px;
	height: 30px;
	font-family: 'trebuchet ms' helvetica sans-serif;
	font-size: 12px;
	background: #103c72;
}

#header{
background: url(../images/page_bckgrd.jpg) #edee86 repeat-x;
}

#navigation{
	background-image: url(../images/navigation_bckgrd.jpg);
	background-repeat: repeat-x;
	height: 40px;
	padding: 2px 0px 0px 200px;
}

#sidebar_left{
	padding: 0px 0px 10px 0px;
}

#sidebar_right{
	background-color: #ffffff;
}
.table_tr td{
	border: 1px solid #999999;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	background-color: #ECECEC;
}