body {
	background-color: #E3C59B;
	margin-top: 0px;
	margin-bottom: 10px;
}
td, p {
	font-family:'trebuchet ms',helvetica,sans-serif;
	font-size: 12px;
	height: 16px;
}
h1{
	font-size: 18px;
	font-weight: bold;
	height: 20px;
}
h2{
	font-size: 18px;
	font-weight: bold;
	height: 20px;
}
.bodyTable{
	background-color: #FFFFFF;
	border: 1px solid #556d43;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}
.titleTable{
	background-color: #fafeb7;
	border: 1px solid #556d43;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
}
.contentTable {
	background-color: #FFFFFF;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	border: 1px solid #556d43;
}
.line{
	border-top: 1px groove #999999;
}
.sectionLabel{
	border: 1px solid #999999;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	background-color: #E1EBDA;
	
}
.centerLabel{
	border: 1px solid #999999;
}
.table_tr td{
	border: 1px solid #999999;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	background-color: #ECECEC;
}
.table_tr2 td{
	font-size: 14px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	background-color: #E1EBDA;
}
.tailTable{
	border: 1px solid #556d43;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	color: #556d43;
}
.homeNav a{
	border: 1px solid #fafeb7;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	margin-bottom: 2px;
	color: #FFFFFF;
	background-color: #556d43;
	text-decoration: none;
	width: 200px;
	display: block;
}
.homeNav a:hover{
	border: 1px solid #556d43;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	margin-bottom: 2px;
	color: #556d43;
	background-color: #fafeb7;
	text-decoration: none;
	width: 200px;
	display: block;
	font-weight: bold;
	
}
.Nav a{
	border: 1px solid #fafeb7;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	margin-bottom: 2px;
	color: #FFFFFF;
	background-color: #556d43;
	text-decoration: none;
	width: 75px;
    display: block;
	font-size: 100%;
	text-align: center;
}
.Nav a:hover{
	border: 1px solid #556d43;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	margin-bottom: 2px;
	color: #556d43;
	background-color: #fafeb7;
	text-decoration: none;
	width: 75px;
	display: block;
	font-size: 100%;
	text-align: center;
	font-weight: bold;
}
.footer{
	border : none;
	font-family: arial, Helvetica, sans-serif;
	font-size: xx-small;
}
.content{
	font-family: arial, Helvetica, sans-serif;
	font-size: smaller;
}
.button{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight : bold;
	color: #aa0000;
	cursor: pointer;
	background-color: #FFFFEE;
	border: #555555 1px solid;
	
}
.table_hd{
	font: bold;
	font-family: arial, Helvetica, sans-serif;
	font-size: medium;
}
/*.box{
	border-style: double double double;
	border : thick double #F5DEB3;
	font-family : Arial, Helvetica, sans-serif;
	font-size : x-small;
	background-color : #F5DEB3;
}*/
.caption{
	font-family : Arial, Helvetica, sans-serif;
	font-size : x-small;
	
}
.box_tb{
	border-style: double double double;
	border : thick double #A9A9A9;
	font-family : Arial, Helvetica, sans-serif;
	font-size : x-small;
}
/*.button{
	background-color : Silver;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : Black;
	display : block;
}
.select{
	background: #FFFFE0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}*/
.select{
	background: #FFFFE0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.dateTime{
	color : Black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

/*.a{
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	list-style: none;
	text-decoration: none;
}*/

/*input.btn{
   color:#050;
   font-family:'trebuchet ms',helvetica,sans-serif;
   font-size:84%;
   font-weight:bold;
   background-color:#fed;
   border:1px solid;
   border-top-color:#696;
   border-left-color:#696;
   border-right-color:#363;
   border-bottom-color:#363;
   filter:progid:DXImageTransform.Microsoft.Gradient
      (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa');}


input.btnhov{
   border-top-color:#c63;
   border-left-color:#c63;
   border-right-color:#930;
   border-bottom-color:#930;
filter:progid:DXImageTransform.Microsoft.Gradient
      (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffee0000');}*/